{% extends 'base.html' %}

{% block title %} ABC Hospital | Create Patient {% endblock %}

{% block content %}

<div class="wrapper mt-5">
	<div class="title">
		Create Patient
	</div>

	{% include "includes/flash_message.html" %}

	<form action=" {{ url_for('createPatient') }} " method="POST">
		<div class="form">
			<div class="inputfield">
				<div class="row">
					<div class="col-md-4">
						<label for="ssnid">Patient SSN ID <span class="star">*</span> </label>
					</div>
					<div class="col-md-8">
						<input id="ssnid" name="ssnid" class="input form-control-sm" required minlength="9"
							maxlength="9">
					</div>
				</div>
			</div>

			<div class="inputfield">
				<div class="row">
					<div class="col-md-4">
						<label for="pname">Patient Name <span class="star">*</span> </label>
					</div>
					<div class="col-md-8">
						<input type="text" name="pname" class="input form-control-sm" required>
					</div>
				</div>
			</div>

			<div class="inputfield">
				<div class="row">
					<div class="col-md-4">
						<label for="page">Patient Age <span class="star">*</span> </label>
					</div>
					<div class="col-md-8">
						<input name="page" class="input form-control-sm" data-parsley-type="number"
							data-parsley-type="integer" maxlength="3" required>
					</div>
				</div>
            </div>
            

            <div class="inputfield">
                <div class="row">
                    <div class="col-md-4">
                        <label for="doa">Date of Admission<span class="star">*</span> </label>
                    </div>
                    <div class="col-md-8">
                        <input type="date" onkeydown="return false" name="doa" id="doa" required />
                    </div>
                </div>
            </div>


            <div class="inputfield">
				<div class="row">
					<div class="col-md-4">
						<label for="type_of_bed">Type of Bed <span class="star">*</span> </label>
					</div>
					<div class="col-md-8">
						<div class="custom_select ">
							<select id="type_of_bed" class="form-control" name="type_of_bed" required>
                                <option value="">Type of Bed</option>
                                <option value="general_ward">General Ward</option>
                                <option value="semi_sharing">Semi Sharing</option>
                                <option value="single_room">Single Room</option>
                            </select>
						</div>
					</div>
				</div>
			</div>

			<div class="inputfield">
				<div class="row">
					<div class="col-md-4">
						<label for="paddress">Address <span class="star">*</span> </label>
					</div>
					<div class="col-md-8">
						<textarea name="paddress" class="textarea form-control-sm" required></textarea>
					</div>
				</div>
			</div>


			<div class="inputfield">
				<div class="row">
					<div class="col-md-4">
						<label for="pstate">State <span class="star">*</span> </label>
					</div>
					<div class="col-md-8">
						<div class="custom_select ">
							<select onchange="print_city('state', this.selectedIndex);" id="sts" name="pstate"
								class="form-control" required></select>
						</div>
					</div>
				</div>
			</div>

			<div class="inputfield">
				<div class="row">
					<div class="col-md-4">
						<label for="pcity">City <span class="star">*</span> </label>
					</div>
					<div class="col-md-8">
						<div class="custom_select ">
							<select id="state" class="form-control" name="pcity" required></select>
						</div>
					</div>
				</div>
			</div>

			<span class="star font-small font-weight-bolder ml-1 mt-0 pt-0"> (*) Fields are compulsory</span>

			<div>
				<input type="submit" value="Create" class="btn btn-sm black text-white">
				<input type="reset" value="Reset" class="ml-lg-5 btn btn-sm black text-white">
			</div>

		</div>

	</form>
</div>



<script language="javascript">print_state("sts");</script>

<script>
    var date = document.getElementById('doa');
    date.max = new Date().toISOString().split("T")[0];
</script> 


{% endblock %}