{% extends 'base.html' %}

{% block title %} ABC Hospital | Home {% endblock %}

{% block content %}

<div class="container my-5" style="min-height: 40vh;">
	<h4 class="text-dark text-center mb-5"><strong>Welcome to ABC Hospital!!</strong></h4>
	
			
			<p class="container text-dark text-justify">
				ABC Hospital is one of the largest corporate Hospitals group in South India with over 3000 beds.
				We operate and manage all our hospitals, which we believe, provides us with greater control over our
				facilities, and helps us in our endeavor to deliver high quality and affordable healthcare services.
				Through our mixed portfolio of well-established, matured facilities and newly established facilities, we
				provide treatment for acute and chronic diseases across secondary, tertiary and Quaternary healthcare
				sectors. In addition to providing core medical, surgical and emergency services, we provide complex and
				advanced Quaternary healthcare in various specialties under disciplines such as neurosciences, cardiac
				sciences, oncology, orthopedics, renal sciences and gastric sciences.
			</p>
</div>


{% endblock %}