{% extends 'base.html' %}

{% block title %} ABC Hospital | Issued Medicines{% endblock %}

{% block content %}

<div class="title mt-5">
    Search Patient
</div>


{% include "includes/flash_message.html" %}

<div class="wrapper mt-3">
    <div class="form">
        <div class="inputfield">
            <div class="row">
                <div class="col-md-4">
                    <label for="pid">Patient ID <span class="star">*</span> </label>
                </div>
                <div class="col-md-7">
                    <input type="text" pattern="\d*" id="pid_for_search" class="input form-control-sm" value="" required
                        maxlength="9" minlength="9">
                </div>
                <div class="col-md-1">
                    <button class="btn-sm black text-white" onclick="loadData()"> GET </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="errorAlert" class="alert alert-danger alert-dismissible container mx-auto mt-3 col-md-10" role="alert"
    style="max-width: 500px;display: none;">
</div>

<table class="table container table-sm  table-hover table-bordered table-striped text-center" align="center">
    <thead style="background-color: #1b6ca8;" class="text-white">
        <tr>
            <th class="font-weight-bold">Patient ID</th>
            <th scope="col" class="font-weight-bold th-sm">Name</th>
            <th scope="col" class="font-weight-bold th-sm">Age</th>
            <th scope="col" class="font-weight-bold">Address</th>
            <th scope="col" class="font-weight-bold">DOJ</th>
            <th scope="col" class="font-weight-bold">Type of Room</th>
        </tr>
    </thead>
    <tbody class="text-dark font-weight-bold">
        <tr>
            <td id="patient_id" class="font-weight-normal"></td>
            <td id="name" class="font-weight-normal"></td>
            <td id="age" class="font-weight-normal"></td>
            <td id="address" class="font-weight-normal"></td>
            <td id="doj" class="font-weight-normal"></td>
            <td id="type_of_room" class="font-weight-normal"></td>
        </tr>
    </tbody>
</table>

<!-- ================================================================================ -->
<div class="container my-5" id="medicines_issued_div" style="display: none;">
    <h5><strong>Medicines Issued:</strong></h5>
    <table class="table w-75 container table-sm table-fixed table-hover table-bordered table-striped text-center"
        align="center">
        <thead style="background-color: #212121;" class="text-white">
            <tr>
                <th class="font-weight-bold">Medicine</th>
                <th scope="col" class="font-weight-bold th-lg">Quantity</th>
                <th scope="col" class="font-weight-bold th-sm">Rate(in Rs.)</th>
                <th scope="col" class="font-weight-bold">Amount(in Rs.)</th>
            </tr>
        </thead>
        <tbody class="text-dark font-weight-bold" id="medicinesTable">

        </tbody>
    </table>
</div>

<div class="container">
    <center>
        <a href="{{ url_for('issueNewMedicines') }}" id="issueMedicinesBtn" class="btn btn-sm black text-white" style="display: none;">Issue Medicines</a>
    </center>
</div>
<!-- ================================================================================ -->


<script>
    var pid;
    function loadData() {
        $.ajax({
            data: {
                pid: $('#pid_for_search').val()
            },
            type: 'POST',
            url: "{{ url_for('getPatient') }}"
        })
            .done(function (data) {
                if (data.error) {
                    $('#errorAlert').text(data.error).show();
                    $('#patient_id').html("");
                    $('#name').html("");
                    $('#age').html("");
                    $('#type_of_room').html("");
                    $('#doj').html("");
                    $('#address').html("");
                    
                    $('#issueMedicinesBtn').hide();
                    $('#medicines_issued_div').hide();   
                    
                }
                else {
                    pid = data[0];

                    $('#errorAlert').text(data.error).hide();
                    $('#patient_id').html(data[0]);
                    $('#name').html(data[2]);
                    $('#age').html(data[3]);
                    $('#type_of_room').html(data[5]);
                    $('#doj').html(data[4]);
                    $('#address').html(data[6] + ", " + data[8] + ", " + data[7]);
                    
                    $('#issueMedicinesBtn').show();
                    $('#medicines_issued_div').show();            
                    
                    getMedicines();
                    
                }

            });
    }

    function getMedicines() {
        $.ajax({
            data: {
                pid: pid
            },
            type: 'POST',
            url: "{{ url_for('getMedicines') }}"
        })
            .done(function (data) {
                if (data.error) {
                    $('#medicinesTable').html("<tr><td colspan = 4>" + data.error + "</td></tr>");

                }
                else {
                    var my_html = ""
                    $('#errorAlert').text(data.error).hide();
                    data.forEach(row => {
                        my_html += '<tr><td class="font-weight-normal">' +
                            row[2] + '</td><td class="font-weight-normal">' +
                            row[3] + ' </td><td class="font-weight-normal">' +
                            row[4] + ' </td><td class="font-weight-normal">' +
                            row[5] + '</td></tr>';
                    });
                    $('#medicinesTable').html(my_html);

                }

            })
            .fail(function (error) {
                alert(error);
            });
    }


</script>


{% endblock %}