{% extends 'base.html' %}

{% block title %} ABC Hospital | Login {% endblock %}

{% block content %}


<header style="display: flex;flex-direction: column;justify-content: center;">
    <h1 class="text-center text-white" style=" font-family: 'Fira Sans', sans-serif;"> Welcome to <span
            style="color: gold;">ABC Hospital</span></h1>
    <br>
    {% include "includes/flash_message.html" %}
    <div class="login-wrapper">

        <div class="form-signin">

            <h2 class="form-signin-heading text-center">Login</h2>

            <form action=" {{ url_for('login') }} " method="POST">
                <label for="username">&nbsp;Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                <label for="password">&nbsp;Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
                <select name="login_type" class="form-control" required>
                    <option value="reg">Login as Registration Executive</option>
                    <option value="pharm">Login as Pharmacist</option>
                    <option value="diag">Login as Diagnostics Executive</option>
                </select>
                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Login</button>
            </form>
        </div>
    </div>
</header>



{% endblock %}